$color_orange: rgb(224, 129, 0);
$color_light_orange: #ff8917;

$break_xxl: 1477px;
$break_xl: 1280px;

body{
  margin:0;
  background: #ffffff;
}

#simplemodal-overlay { background-color: rgb(51, 51, 51); }
#simplemodal-container {background-color:#333; border:8px solid #444; padding:12px;}

#main {
  font-family: 'Arial', sans-serif;
  font-weight: 300;
  color: rgb(51, 51, 51);
  padding: 0;
}

#radar {
  @media screen and (max-width : $break_xl) {
    display: block;
  }
  @media screen and (min-width : $break_xxl) {
    display: inline-block;
  }

  a {
    color: $color_orange;
    text-decoration: none;
    font-weight: 400;
  }
  
  /* restores the original 20 pixels we've overwritten for #main */
  padding: 20px;
  
  .spot {
    stroke: white;
    stroke-width: 1;

    &.historySpot {
      fill: $color_light_orange;
    }
    
  }
  .historyLine {
    stroke: $color_light_orange;
  }
  
  .spotLabel {
    fill: white;
    font-size: 0.6em;
    font-weight: bold;
  }

  .spotTooltip {
    fill: white;
    font-size: 0.8em;
  }

  .arcLegend {
    font-size: 1.2em;
  }
}  

#items0, #items1 {
  padding: 20px;
  
  a {
    color: $color_orange;
    text-decoration: none;
    font-weight: 400;
  }
  
  display: inline-block;
  vertical-align: top;
  padding-left: 1.5em;
  ul {
    margin-top: 0.5em;
    margin-left: -1em;
  }
  .itemText {
    list-style-type: none;
    margin-left: -1em;
    width: 21em;
    background-color: white;
    line-height: 1.5em;
    font-weight: 100;
    .label {
      .batch {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        margin-left: 1em;
        padding: 0 5px 2px 5px;
        background-color: rgba(75, 137, 8, 0.5);
        color: white;
      }
    }
    .description {
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;
      margin: 0.5em 0.5em 0.5em 0.5em;
      padding: 1em 0 1em 0;
      line-height: 1.5em;
      
      .linkbar {
        margin-top: 1em;
      }
    }
  }
  
  .headline {
    font-weight: 600;
  }
}

.description {
  .headline {
    cursor: pointer;
  }
  .text {
  }
  .linkbar a {
    padding-right: 1.5em;
  }
}

.history {
  display: none;
  padding: 0 1em 2em 1em;
  position: relative;

  h1,h2,h3,h4,h5 {
    text-shadow: 2px 2px 2px #CCCCCC;
    display: inline;
  }
  
  .headline {
    text-decoration: none;
    cursor: pointer;
  }
  
  .date {
    font-weight: 900;
    margin-bottom: 0.5em; 
    margin-top: 2em;
  }
  .text {
    line-height: 1.4em;
  }
  .close {
    display: inline-block;
    margin-left: 1em;
    margin-bottom: 0.5em;
    vertical-align: middle;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    color: rgb(51, 51, 51);
    font-size: 11px;
    padding: 0 5px 2px 5px;
    border: solid #9c9c9c 1px;
    text-decoration: none;
  }

  .close:hover {
    background: #ffffff;
    color: $color_orange;
    text-decoration: none;
    cursor: pointer;
  }
}

@mixin help-text() {
  font-family: 'Arial', sans-serif;
  font-weight: 300;
  font-size: 1em;
  cursor: pointer;
}

#help {
  display: none;
}

.helpLabel {
  @include help-text;
}
.helpIcon {
  @include help-text;
  stroke-width: 1px;
  stroke: $color_orange;
  fill: white;
}
.helpText {
  stroke: red;
  font-weight: 300;
}

#simplemodal-container {
  font-family: 'Arial', sans-serif;
  font-weight: 300;
  font-size: 1em;
  background-color: white;
  border: 1px $color_orange solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
  width: 50%;
  
  h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    color: $color_orange;
    margin-bottom: 0;
  }
}
