$header_logo_path: ''; //no logo here

.tools      { fill: #A8B4C3; }
.techniques { fill: #CCC18B; }
.platforms  { fill:#EBB35F; }
.languages  { fill: #CFBCC4; }

.spot.tools       { fill: #5183c1; }
.spot.techniques  { fill: #8caa4c; }
.spot.platforms   { fill: #ea9b25; }
.spot.languages   { fill: #ce84a3; }
